<header>
  <img src="../assets/banderas.jpg" alt="circulo cromatico" />
  <h1>Diversion con Banderas</h1>
</header>

<main>

<section>
  <h4>Score: {{score}}</h4>
  <h2>
    Haz click en la bandera de: 
  </h2>
  <h3>
    <strong>{{ ganador }}</strong>
  </h3>

  <div class="cont-banderas">
    <app-bandera
      *ngFor="let unaBandera of banderas"
      [infoBandera]="unaBandera"
      [fin]="fin"
      (eventoClick)="manejarClick($event)"
    ></app-bandera>
  </div>


  <div class="control" (click)="iniciar()" *ngIf="fin">
    <img src="../assets/next.png" alt="siguiente">
    <h2>Siguiente</h2>
  </div>
</section>



</main>