.cont-banderas{
  width: 80%;
  margin: 2em auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
app-bandera{
    width: 20%;
    margin: .2em;

    background: rgba(167, 163, 163, 0.2);
    padding: .5em;
    border: rgba(55,55,55,.5) solid 1px;
    border-radius: 8px;
}



@media(max-width: 800px){

  .cont-banderas{
    width: 90%;
  }


  app-bandera{
    width: 120px;
    height: 120px;
  }
  

}

@media(max-width: 400px){

  .cont-banderas{
    width: 98%;
  }


  app-bandera{
    width: 80px;
    height: 80px;
  }
}





header{
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin-bottom: 1em;
  padding: .5rem 5%;
  background: cornflowerblue;
  
}
header img{
  width: 25%;
  max-width: 80px;
  min-width: 60px;
  object-fit: cover;
  border-radius: 50%;
}
h1{
  margin-right: 3%;
  font-size: 1.5em;
  font-style: italic;
  color: white;
}
section{
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
h2, h3{
  text-align: center;
}
h2{
  
  font-weight: 500;
  font-style: oblique;
}
h3{
  font-size: 2rem;
  font-weight: bolder;
}





